*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fraunces', serif;
}

header{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.3) , rgba(0,0,0,0.1)), url("666.jpg");
	background-repeat: no-repeat;
	background-size:  cover;
	background-position: center;
}

/*header :hover{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.3) , rgba(0,0,0,0.1)), url("7.jpg");
	background-repeat: no-repeat;
	background-size:  cover;
	background-position: center;

}
*/

nav{
	width: 100%;
	height: 10vh;
	background: rgba(0,0,0,0.1);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}	
nav .logo{
	width: 25%;
	text-align: center;
	/*background: red;*/
	text-shadow: 2px 1px 5px black;

}
.logo:hover{
	color: #00264d;
	text-shadow: 2px 1px 5px white;
}
.nav-area{
	list-style-type: none;
	width: 40%;
	/*background: yellow;*/
	display: flex;
	justify-content: space-around;
	text-decoration: none;
	/*border-style: solid;*/
}

.nav-area a{
	width: 30%;
	text-decoration: none;
	color:  white;
	font-weight: bold;
	padding: 10px;
	/*border:1px solid black; 
	border-style: border-box;*/

}
.nav-area a:hover{
	color: #19334d;
}
main{
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
}

section h3{
	font-size: 35px;
	font-weight: 200;
	letter-spacing: 1px;
	text-shadow: 1px 1px 2px black;
} 

section h1{
	margin: 30px 0 20px 0;
	font-size: 50px;
	font-weight: 700;
	text-shadow: 2px 1px 5px black;
	text-transform: uppercase;

}
section p{
	font-size: 25px;
	word-spacing: 2px;
	margin-bottom: 25px;
	text-shadow: 1px 1px 1px black; 
}

 section a{
 	padding: 12px 30px;
 	border-radius: 4px;
 	outline: none;
 	text-transform: uppercase;
 	font-size: 13px;
 	font-weight: 500;
 	text-decoration: none;
 	letter-spacing: 1px;
 }

 .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(0,0,0);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  padding: 3px 4px;
  z-index: 1;
}

.dropdown-content a {
  list-style-type: none;
  color: white;
  padding: 3px 4px;
  text-decoration: none;
  display: block;
  /*background: transparent;
  border-radius: 0;
  text-align: left;*/

}


.dropdown:hover .dropdown-content {
  display: block;
  border-bottom: none;
  border-style: solid;
  background: transparent;
  list-style-type: none;
  border: 1px transparent;
  border-radius: 10px;

}

section .btnone{
	background:  linear-gradient(to bottom, #ffffff 0%, #336699 100%);
	color: #000000;
}

section .btntwo{
	background: linear-gradient(to bottom, #ffffff 0%, #003366 100%);
	color: #000000;
}
.btnone:hover{
	background:linear-gradient(to bottom, #006666 0%, #ffffff 100%);
	color: #ffffff; 
}
.btntwo:hover{
	background: linear-gradient(to bottom, #003300 0%, #ffffff 100%);
    color: #ffffff;
}
/*[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
   For tablets: 
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: 
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}*/
@media only screen and (max-width: 800px) {
	
	/*.nav-area a{
		width: 100%;
		height: 22vh;
	}

	.content {
		width: 100%;
		height: 56vh
	}*/

	.nav-area a {
		width: 100%;
		height: 22vh;
	}

}

@media only screen and (max-width: 300px) {
	 .nav-area a {
		display: none;
	}
}